html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.main{
  background-image: url('./debby-hudson-asviIGR3CPE-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items:center;
  justify-content: center;
}

h1{
  color: white;
  font-size: 48px;
  margin: 30px 0px;

}
.paragraf{
  color: white;
  font-size: 32px;
}

.passed{
  background-color: #33B8B4;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 30px 0px;
  justify-content: space-between;
}

.failed{
  background-color: #FC524F;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 30px 0px;
  justify-content: space-between;justify-content: space-between;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
   margin: 30px 0px;
}

select{
  height: 40px;
  padding: 0;
  border: 1px solid rgb(220, 217, 217);
 }

input{
  height: 40px;
  border: 1px solid rgb(220, 217, 217);
}

.grade{
  width: 60px;
}

button{
  border: none;
  height: 40px;
  color: #33B8B4;
  width: 80px;
  font-size: large;
}
.submit{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


h4{
  margin-bottom: 20px;
  font-size: 24px;
}
.hide{
  display: none;
 }

.error{
  color: red;
  visibility: visible;
}

.nameHide{
  display: none;
}

.nameShow{
  color: red;
  visibility: visible;
}

.passed-student{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border-top: 1px solid silver;
  border-bottom:1px solid silver ;
  padding: 15px 0px;
}

.faild-student{
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  border-top: 1px solid silver;
  border-bottom:1px solid silver; ;
  padding: 15px 0px;
}

