
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********/

.form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
 
}

.titles{
  width: 1000px;
  height: 45px;
}
.length{
  width: 1000px;
  height: 45px;
  
}
.genre{
  width: 1000px;
  height: 45px;
}

form{
  display: flex;
  gap: 10px;
  flex-direction: column;
  
}



.btn{
  height: 45px;
  background-color: #4CAF50;
  border-radius: 6px;
  color: white;
  border: none;
}
.btn:hover{
  border: 2px solid #92C6FB;
  
}

.show{
  color: red;
  visibility: visible;
}

.hide{
  display: none;
}

.showTitle{
  color: red;
  visibility: visible;
}

.hideTitle{
  display: none;
}


        /******  PROGRAM ******/

        
.btn-program{
  height: 45px;
  background-color: #4CAF50;
  border-radius: 6px;
  color: white;
  border: none;
  width: 1000px;
 
}

.btn-program:hover{
  border: 2px solid #92C6FB;
  
}

.form-date{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.date{
  width: 1000px;
  height: 45px;
}
.movie-name{
  width: 1000px;
  height: 45px;
}

.error{
  color: red;
}


.add-movie{ height: 45px;
  background-color: #4CAF50;
  border-radius: 6px;
  color: white;
  border: none;
  width: 1000px;}