$fonts:'Roboto';
$primary-color:#085654;
$secundary-color:#343A40;
$font-color:#fff;
$font-color-secound: #69AFFF;
$card-color:#c0bdbd;
$font-size-small: 14px;
$font-size-medium:24px;
$font-size-large:36px;
$font-weight-sm:500;
$font-weight-lg:600;
